
@import url(https://db.onlinewebfonts.com/c/7abee0964160f7924b2ccdd96440301f?family=IRANYekanWeb+Light);
body {
  font-size: 12px;
  font-family: "IRANYekanWeb Light" ;
  direction: rtl;
padding: 0%;
margin: 0%;
box-sizing: border-box;
background:black;
}

